modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[objectStorage]
defaultBucketID = "replit-objstore-263b6d2f-6354-4b1e-95b7-58c030ae5cf4"

[userenv]

[userenv.shared]
WA_ACCESS_TOKEN = "EAASs6fft0PcBRXDvifQR5Sk42ZABppZB3bZApactvUtP3MQip8u6ZCT3wt2OX8gCXb71wG7aqRVlSsZAETAS77brKItUujn2iP58ZBTfZBZAhaFPR5bcKCzkZCecHh6ZBwt6g66AlM7TfvXGn7jEkGA42ed7LLjkrlOHBnpvcqzZAdX31xKXiT5nOPMnulFVWTv6vDf73MsioWsBRPmufLZBZBT6E6WgSffu3OfYXYCW53wNVP0xWzTZCZB6RdMl046gZBWRL0ZBGJ4DiyJODZAiSboq26Vgi3RAZDZD"
WA_PHONE_NUMBER_ID = "1090990180766217"
WA_BUSINESS_ACCOUNT_ID = "783198341539424"
WA_VERIFY_TOKEN = "isp_wa_2026_verify_xK7pQ9zR"
