modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[objectStorage]
defaultBucketID = "replit-objstore-263b6d2f-6354-4b1e-95b7-58c030ae5cf4"

[userenv]

[userenv.shared]
WA_ACCESS_TOKEN = "EAASs6fft0PcBRfczmWfczhwx6ixOx88yppbebVvg7njExYotrU9NjgktBlYkZCdSPtKpMyiMbM0d2L8jbvOGuAhyYfMV7G8CufikxHKQ0gmolmGHyX2eJLFneyNExUK183UMZBkYuCLYPekU6F1kM6lKJPD0poUrGHnV6ZCywCVJV3w14jGs4oafpzuVf1pGRmklwLfYGJpx7QYum2ZA1Pgtrq9CppELYgp5rlLKmZAbQhuHbcZBZCyWiwpe4dsJ618QlncATFBCH3qDm4FM45hcmQZD"
WA_PHONE_NUMBER_ID = "1090990180766217"
WA_BUSINESS_ACCOUNT_ID = "783198341539424"
WA_VERIFY_TOKEN = "isp_wa_2026_verify_xK7pQ9zR"
TURNSTILE_SITE_KEY = "0x4AAAAAADBi_IxqkaWe6fj0"
TURNSTILE_SECRET_KEY = "0x4AAAAAADBi_HfPkU3kjxCy45FCIoU7JQw"
VITE_TURNSTILE_SITE_KEY = "0x4AAAAAADBi_IxqkaWe6fj0"
